<head>
    <meta http-equiv="refresh" content="0; URL=https://gjs.guide/" />
</head>

<body>
    <h3>GJS Guide has moved to gjs.guide!</h3>
    <p>If you are not redirected in five seconds, <a href="https://gjs.guide/">click here</a>.</p>
</body>